#home {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    margin: 30px auto;
    min-width: 950px;
    padding: 30px;
    width: 75%;
}
#blogTitle h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5em;
}
#navigator {
    font-size: 15px;
}
.catListTitle {
    background-color: #f7f7f7;
    border-left: 10px solid #99cc33;
    font-size: 2.35em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10.5px;
    margin-top: 20px;
    padding: 10px 0 10px 14px;
}

#mainContent {
    float: right;
    margin-left: -22em;
    min-height: 200px;
    overflow: hidden;
    padding: 0 0 10px;
    text-overflow: ellipsis;
    width: 100%;
}
#sideBar {
    float: left;
}
#MySignature {
    border: 2px solid #DEEBF7;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #fff7dc no-repeat 1% 50%;
    height: 40px;
    font-family: 微软雅黑;
    font-size: 12px;
}